<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/xml.js"></script>
    <link rel="stylesheet" href="../static/css/base.css">

    <script src="/static/jquery-1.11.3.js"></script>
    <script>
            <!--$(function(){-->
            <!--$("#check1").click(function(){-->
                    <!--$("#show").load("/check");-->
            <!--});-->
        <!--});-->
    </script>
</head>
<body>
<div id="box">
    <div id="top">
        <img src="../static/images/1.png" class="p1">
        <img src="../static/images/2.jpg" class="p2">
        <ul class="u1">
            <li class="l1">
                <span>admin</span>
                <ol class="o1">
                    <li>
                        <a href="">个人信息</a>
                    </li>
                    <li>
                        <a href="">切换账号</a>
                    </li>
                    <li>
                        <a href="">退出</a>
                    </li>
                </ol>
            </li>
        </ul>
    </div>
    <div>
        <a href="/register">挂号</a>
        <a href="/check">查询</a>
    </div>
<div id="show"></div>
    </div>
</body>
</html>