<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人信息表</title>
        <link rel="stylesheet" href="../static/css/base.css">
    <style>
        table{
        border:1px solid black;
        width:300px;
        margin:0 auto;
        }
        table tr td{
            border:1px solid black;
        }
        .t1{
            width:80px;
            text-align:center;
        }
        .t2{
            padding-left:5px;
            width：220px;

        }
    </style>
</head>
<body>
<div id="box">
<div id="top">
        <img src="../static/images/1.png" class="p1">
        <img src="../static/images/2.jpg" class="p2">
        <ul class="u1">
            <li class="l1">
                <span>admin</span>
                <ol class="o1">
                    <li>
                        <a href="/personal?name={{params.name}}">个人信息</a>
                    </li>
                    <li>
                        <a href="/switch">切换账号</a>
                    </li>
                    <li>
                        <a href="/exit">退出</a>
                    </li>
                </ol>
            </li>
        </ul>
    </div>
<table>
    {% for user in params.res%}
    <tr>
        <td colspan="2" style="text-align:center">个人信息</td>
    </tr>
    <tr>
        <td class="t1">职工编号</td>
        <td class="t2">{{user.id}}</td>
    </tr>
    <tr>
        <td class="t1">用户名称</td>
        <td class="t2">{{user.username}}</td>
    </tr>
    <tr>
        <td class="t1">用户密码</td>
        <td class="t2">{{user.userpwd}}</td>
    </tr>
    <tr>
        <td class="t1">工作岗位</td>
        <td class="t2">{{user.jop}}</td>
    </tr>
    <tr>
        <td class="t1">在职状态</td>
        <td class="t2">{{user.status}}</td>
    </tr>
    {% endfor %}
</table>
<!--</form>-->

</div>
</body>
</html>