<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/xml.js"></script>
    <script src="/static/jquery-1.11.3.js"></script>
    <script>
            $(function(){
            $("#check1").click(function(){
                    $("#show").load("/check");
            });
        });
    </script>
</head>
<body>
    <div>
        <button type="button" id="check1">查询</button>
        <a href="">挂号</a>
        <a href="">查询</a>
        <a href="">查询</a>
        <a href="">查询</a>
    </div>
<div id="show"></div>
</body>
</html>