html lang="en">
<head>
    <meta charset="UTF-8">
    <title>出院</title>
    <link rel="stylesheet" href="../static/css/drug.css">
</head>
<body>
    <div id="box">
        <div id="top">
        <img src="../static/images/1.png" class="p1">
        <img src="../static/images/2.jpg" class="p2">
        <ul class="u1">
            <li class="l1">
                <span>admin</span>
                <ol class="o1">
                    <li>
                        <a href="">个人信息</a>
                    </li>
                    <li>
                        <a href="">切换账号</a>
                    </li>
                    <li>
                        <a href="">退出</a>
                    </li>
                </ol>
            </li>
        </ul>
    </div>
        <div id="left">
            <li>
                <a href="#">申请出院</a>
            </li>
            <li>
                <a href="#">办理手续</a>
            </li>
            <li>
                <a href="#">费用结算</a>
            </li>
            <li>
                <a href="#">统计账单</a>
            </li>
        </div>
        <div id="jump">
            <li>
                <a href="inhospital.html">住院情况</a>
            </li>
        </div>
        <div id="right">
            <form action="inhospital" method="get">
                <table width="1000px" border="1px">
                    <tr>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</body>
</html>