<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/update" method="post">
        <p>
            药品编码:<input type="number" name="uid">
        </p>
        <p>
            药品名称:<input type="text" name="uname">
        </p>
        <p>
            药品厂商:<input type="text" name="upro">
        </p>
        <p>
            药品数量:<input type="number" name="unum">
        </p>
        <p>
            药品价格:<input type="number" name="uprice">
        </p>
        <button>修改</button>
    </form>
</body>
</html>