<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/xml.js"></script>
    <script src="/static/jquery-1.11.3.js"></script>
    <script>
        $(function(){
            <!--$("#btnShow").click(function(){-->
                var xhr = createXhr();
                xhr.open('get','/check-server',true);
                xhr.onreadystatechange=function(){
                    if(xhr.readyState==4&&xhr.status==200){
                        var users = JSON.parse(xhr.responseText)
                        var html = "";
                        for(var i=0;i<users.length;i++){
                            html+="<tr>";
                                html+="<td>"+users[i].id_card+"</td>";
                                html+="<td>"+users[i].s_name+"</td>";
                                html+="<td>"+users[i].s_addr+"</td>";
                                html+="<td>"+users[i].s_tel+"</td>";
                                html+="<td>"+users[i].s_in_date+"</td>";
                            html+="</tr>";
                        }
                        $("#content").html(html);
                    }
                }
                xhr.send(null);
            <!--});-->
        });
        $(function(){
            $("#btnShow").click(function(){
                var value_ = document.getElementById('btn').value;
                <!--var value_ = $("#btnShow").val();-->
                console.log(value_)
                <!--var params = "id_card="+value_+"&s_name="+value_+"&s_tel="+value_+"&s_addr="+value_+"&s_in_date="+value_;-->
                var params = {
                    id_card:value_,
                    s_name:value_,
                    s_tel:value_,
                    s_addr:value_,
                    s_in_date:value_
                }
                console.log(params)
                $.get("/check-server",params,function(data){
                    //data服务器端响应回来的数据
                    var html = "";
                        for(var i=0;i<data.length;i++){
                            html+="<tr>";
                                html+="<td>"+data[i].id_card+"</td>";
                                html+="<td>"+data[i].s_name+"</td>";
                                html+="<td>"+data[i].s_addr+"</td>";
                                html+="<td>"+data[i].s_tel+"</td>";
                                html+="<td>"+data[i].s_in_date+"</td>";
                            html+="</tr>";
                        }
                        $("#content").html(html);

                },"json");
            });
        });

    </script>
    <style>
        div{
            width:500px;
            margin:auto;
        }
    </style>
</head>
<body>
<div><h1>查询界面</h1></div>
<div>请输入关键字：<input type="text" name="key-word" id="btn"
                          placeholder="身份证件、姓名、住址、电话号码">
<input type="submit" id="btnShow" name="查询"></div>


<table border="1" width="1200">
                 <tr>
                    <th>身份证</th>
                    <th>名字</th>
                    <th>电话</th>
                    <th>地址</th>
                    <th>就医日期</th>
                </tr>
    <tbody id="content"></tbody>


</table>

</body>
</html>