<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/update" method="post">
        <p>
            id:<input type="number" name="uid">
        </p>
        <p>
            name:<input type="text" name="uname">
        </p>
        <p>
            pro:<input type="text" name="upro">
        </p>
        <p>
            num:<input type="number" name="unum">
        </p>
        <p>
            price:<input type="number" name="uprice">
        </p>
        <button>修改</button>
    </form>
</body>
</html>